.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;

    span {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
